numpy
matplotlib
huggingface_hub
librosa
scipy

accelerate>=0.25.0
pip # For kokoro

torchaudio
soundfile

openai-whisper
git+https://github.com/aimerib/whisper-mps.git

kokoro

# Audio enhancement
DeepFilterNet

# Visualization tools
tensorboard
wandb

tqdm
python-dotenv

phonemizer-fork
espeakng-loader
inflect

yt-dlp

git+https://github.com/resemble-ai/resemble-enhance.git
speechbrain