torch
numpy
matplotlib
huggingface_hub
pip # For kokoro

torchaudio
soundfile

openai-whisper
git+https://github.com/aimerib/whisper-mps.git

kokoro

# Visualization tools
tensorboard
wandb

tqdm
python-dotenv

phonemizer-fork
inflect